# default function of each one of the date type

## 1 list and its default functions

# list

### A list is a data type that can be used to store any type and number of veriable and information or

###  A list is a Container which can hold different data types in it

In [1]:
# we can define and assign list as like it 

colour=["red", "orange","yellow","green","indigo","white",1,2,["pink","blue"]]

In [2]:
colour

['red', 'orange', 'yellow', 'green', 'indigo', 'white', 1, 2, ['pink', 'blue']]

In [3]:
# for the accesing first item of list

print(colour[0])

red

In [4]:
print(colour[8][1])

blue

In [11]:
colour[-1]

'violet'

In [16]:
len(colour)

10

In [5]:
# List is a complex data type which is 
# derived from LIST Object

# List elements are always stored in orderd sequence of 
#Number starting from  0

# Every Object will have some Methods, 
# lets see List Object's Methods

## default functions of lists

In [6]:
 colour.append("violet") #to add new item at the end of list

In [7]:
colour

['red',
 'orange',
 'yellow',
 'green',
 'indigo',
 'white',
 1,
 2,
 ['pink', 'blue'],
 'violet']

In [8]:
colour.remove("white") # to remove the item from list

In [9]:
colour

['red',
 'orange',
 'yellow',
 'green',
 'indigo',
 1,
 2,
 ['pink', 'blue'],
 'violet']

In [10]:
colour.index(1) #to show index of item

5

In [14]:
colour.insert(3,"white") #to add item at given index

In [15]:
colour

['green',
 'indigo',
 'orange',
 'white',
 'red',
 'yellow',
 1,
 2,
 ['pink', 'blue'],
 'violet']

In [18]:
colour[3:6] #slicing of string

['white', 'red', 'yellow']

 ## 2 .Dictionary and its defalult functions

### A dictionary is a collection which is unordered, changeable and indexed. In Python dictionaries are written with curly brackets, and they have keys and values.

In [32]:
#Create and print a dictionary:

thisdict={"name":"Rahul","age":22, "email":"rahul123@gmal.con","mobileno":9625453677}
print(thisdict)

{'name': 'Rahul', 'age': 22, 'email': 'rahul123@gmal.con', 'mobileno': 9625453677}

In [33]:
#accessing items
thisdict.get("name")

'Rahul'

In [34]:
thisdict["name"]

'Rahul'

In [35]:
#change value
thisdict["age"]=23

In [36]:
thisdict["school"]="zphighschool"

In [37]:
thisdict

{'name': 'Rahul',
 'age': 23,
 'email': 'rahul123@gmal.con',
 'mobileno': 9625453677,
 'school': 'zphighschool'}

In [38]:
thisdict.pop("age")

23

In [39]:
thisdict

{'name': 'Rahul',
 'email': 'rahul123@gmal.con',
 'mobileno': 9625453677,
 'school': 'zphighschool'}

In [40]:
thisdict.keys() # print all the keys

dict_keys(['name', 'email', 'mobileno', 'school'])

In [41]:
thisdict.items() #print all the items

dict_items([('name', 'Rahul'), ('email', 'rahul123@gmal.con'), ('mobileno', 9625453677), ('school', 'zphighschool')])

In [42]:
thisdict.values()   #print all the values

dict_values(['Rahul', 'rahul123@gmal.con', 9625453677, 'zphighschool'])

In [43]:
thisdict.clear()   #clear all rhe dictionary

In [44]:
thisdict

{}

# 3 Sets and its default function

### A set is a collection which is unordered and unindexed. In Python sets are written with curly brackets.

In [1]:
b={1,2,3,4,4,4,5,6,7,8}

In [2]:
b

{1, 2, 3, 4, 5, 6, 7, 8}

In [3]:
len(b) #Get the Length of a Set

8

In [4]:
b.remove(8)#To remove an item in a set

In [5]:
b

{1, 2, 3, 4, 5, 6, 7}

In [7]:
b.discard(7)

In [12]:
b

{1, 2, 3, 4, 5, 6}

In [13]:
b.pop()

1

In [14]:
b

{2, 3, 4, 5, 6}

In [15]:
c={"x",'y',"z"}

In [16]:
c

{'x', 'y', 'z'}

In [17]:
d=b.union(c)#for union of two sets

In [18]:
d

{2, 3, 4, 5, 6, 'x', 'y', 'z'}

In [21]:
b={85,54,544,5,}

In [22]:
b.update(c)

In [23]:
b

{5, 54, 544, 85, 'x', 'y', 'z'}

In [25]:
b.add(52)

In [26]:
b

{5, 52, 54, 544, 85, 'x', 'y', 'z'}

In [28]:
b.isdisjoint(c)

False

# 4 Tuple and its default functions

### A tuple is a collection which is ordered and unchangeable. In Python tuples are written with round brackets.

In [29]:
#Create a Tuple

thistuple = ("apple", "banana", "cherry")

In [30]:
thistuple

('apple', 'banana', 'cherry')

In [32]:
print(thistuple[1])

banana

In [34]:
thistuple[-1]

'cherry'

In [37]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")

In [39]:
thistuple[2:5] #Return the third, fourth, and fifth item:

('cherry', 'orange', 'kiwi')

In [40]:
len(thistuple)

7

In [41]:
thistuple.count("apple")

1

In [43]:
thistuple.index("cherry")

2

# 5. string and its default methods

### Strings are used in Python to record text information

In [2]:
#creating string

'This is also a string'

'This is also a string'

In [5]:
# printing a string

print("hello world 1")
print ("hello world 2")

hello world 1
hello world 2

In [7]:


len('Hello World')

11

In [8]:
# Assign s as a string
s = 'Hello World'

In [9]:
print(s)

Hello World

In [10]:
#indexing of string

In [11]:
s[2]

'l'

In [12]:
s[0]

'H'

In [14]:
# Grab everything past the first term all the way to the length of s which is len(s)
s[1:]

'ello World'

In [17]:

s[:-1]

'Hello Worl'

In [19]:
# Concatenate strings!
s + ' concatenate me!'

'Hello World concatenate me!'

### default functions of strings

In [20]:
s.upper()

'HELLO WORLD'

In [21]:
s.lower()

'hello world'

In [22]:
s.split()

['Hello', 'World']

In [25]:
s.split('W')

['Hello ', 'orld']